

    p#Fusszeile {
    clear: both;
    font-size: 0.9em;
    margin: 0; padding: 0.1em;
    text-align: center;
    background-color: #bbcccc;
  }

    .navigation {
    width:100%;
	text-align: center;
  }
    td { 
    border:0px
    overflow:hidden;
    text-decoration: none; font-weight: bold;
    
    
 }

    td a { 
    color: #000000;
    text-decoration: none;
    
 }

    td a:hover { 
    color: #ffffff;
 }

.blue   {background-color:#bbcccc; }
.white   {background-color:#ffffff; }